*{box-sizing: border-box;}
div{
}
body{
    width: 100%;
}

.container{
    width: 1900px;
    height: 2400px;
}


.header{
    width: 1400px;
    height: 100px;
    margin: auto;
    position: sticky;
    background-color: white;
    top: 0;
    border-bottom: 1px solid silver;
    
}

.insta-header{
   
    width: 100%;
    height: 100%;
    display: flex;
    
}

.img-instargram{
   
    width: 33.33%;
    height: 100%;
    padding-top: 20px;
    margin-left: 135px;
}

#isg-img{ /* 인스타 로고 사진 */
    height: 70px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.header-input{
  
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
}

.input-size{
 
    width: 100%;
    height: 50px;
    display: flex;
    background-color: rgba(155,155,155,0.3);
    border-radius: 10px;
}

.input-size a{
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: rgba(155,155,155,0.5);;
    text-decoration: none;
    padding: 10px 10px;
}

#search{
    height: 50px;
    width: 300px;
    border-radius: 9px;
    background-color: rgba(155,155,155,0);
    border: none;
}

.login{
    width: 33.33%;
    height: 100%;
}

.login-part{
    height: 100%;
    display: flex;
}

.login-part > div:nth-child(1){
    width: 70%;
    text-align: end;
    padding-top: 20px;
    padding-right: 10px;
}

.login-button{ /* 로그인 버튼 */
    width: 110px;
    height: 50px;
    border: skyblue;
    background-color: rgb(0,149,246);
    color: white;
    font-size: 20px;
    border-radius: 15px;
}

.login-button:hover{ /* 로그인버튼 호버 */
    cursor: pointer;
    background-color: rgb(24,119,242);
}

.login-part > span:nth-child(2){ 
    width: 30%;
    text-align: end;
    padding-top: 18px;
    padding-right: 10px;
}

.new-button{ /* 가입하기 버튼 */
    width: 110px;
    height: 50px;
    font-size: 20px;
    background-color: white;
    border: white;
    color:#3578e5
}

.main{
    width: 1400px;
    height: 2000px;
    margin: auto;
}

/* --------------------main1----------------------- */
.main1{
    width: 100%;
    height: 9%;
    display: flex;
    padding-top: 20px;
}

.main1-1{
    width: 40%;
}

#sl-inst-logo{
    padding-left: 250px;
}

.main1-2{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.official{
    display:inline-block;
}

.official > a{
    padding-left: 50px;
    font-size:x-large;
    text-decoration: none;
    color: black;
}

.official > button:nth-of-type(1){
    margin-left: 50px;
    height: 30px;
    width: 77px;
    border-radius: 7px;
    border: none;
}

.official > button:nth-of-type(1):hover{
    background-color: silver;
}

.official > button:nth-of-type(2){
    margin-left: 20px;
    height: 30px;
    width: 110px;
    border-radius: 7px;
    border: none;
}

.official > button:nth-of-type(2):hover{
    background-color: silver;
}

.follow{
    display: inline-block;
    padding-top: 15px;
}

.follow > a{
    text-decoration: none;
    color: black;
    font-size: large;
}

.follow > a:nth-child(1){
    padding-left: 50px;
}

.follow > a:nth-child(1):hover{
    color: rgb(217, 225, 233);
}

.follow > a:nth-child(2){
    padding-left: 30px;
}

.follow > a:nth-child(2):hover{
    color: rgba(217, 225, 233);
}

.follow > a:nth-child(3){
    padding-left: 30px;
}

.follow > a:nth-child(3):hover{
    color: rgb(217, 225, 233);
}

.text{
    width: 100%;
    height: 100%;
    padding-left: 50px;
}
.text a{
    text-decoration: none;
    color: rgb(21, 127, 168);
}

.text a:nth-of-type(2):hover{
    text-decoration: underline;
}

/* ------------------------ main2 ------------------------------*/
.main2{
    width: 100%;
    height: 9%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid silver;
}

.main2-1{
    height: 100%;
    display: flex;
    margin-left: 150px;
}

.package{
    width: 16%;
    height: 100%;
}
.package > a{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-top: 20px;
}

.review{
    width: 20%;
    height: 100%;
    padding-top: 20px;
}

.none1{
    width: 60%;
    height: 100%;
}

/* -------------------------main3--------------------------- */

.main3{
    width: 100%;
    height: 100px;
    display: flex;
    padding-left: 600px;
}

.main3-1{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main3-1 > div:nth-child(1){
    padding-top: 3px;
}
#post{
    color: slategrey;
}
.main3-2{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main3-2 > div:nth-child(1){
    padding-top: 6px;
}
#reels{
    color: slategrey;
}
.main3-3{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main3-3 > div:nth-child(1){
    padding-top: 5px;
}
#tag{
    color: slategrey;
}

/* --------------------------main4----------------------------- */

.main4{
    width: 1300px;
    height: 1350px;
    padding-left: 250px;
}

.main4-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main4-1-1{
    padding: 20px;
  
}

.main4-1-2{
    padding: 20px;
}

.main4-1-3{
    padding: 20px;
}

.main4-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main4-2-1{
    padding: 20px;
}

.main4-2-2{
    padding: 20px;
}

.main4-2-3{
    padding: 20px;
}

.main4-3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main4-3-1{
    padding: 20px;
}

.main4-3-2{
    padding: 20px;
}

.main4-3-3{
    padding: 20px;
}

.main4-4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main4-4-1{
    padding: 20px;
}

.main4-4-2{
    padding: 20px;
}

.main4-4-3{
    padding: 20px;
}
/* ------------------------------main5------------------------ */
.main5{
    width: 1400px;
    height: 9.5%;
    padding-left: 280px;
    padding-bottom: 20px;
    border-bottom: 1px solid silver;
}
.main5-1{
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 27px;
}

.main5-1 a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main5-1-1{
    width: 20%;
    height: 100%;
    border:  1px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.hc-logo{
   
    width: 100%;
    height: 50%;
    padding-top: 27px;
}
.hc{
   
    width: 100%;
    height: 10%;
    text-align: center;
}
.hc-text{
    
    width: 100%;
    height: 20%;
    text-align: center;
    padding-top: 5px;
}
.hc-button{
  
    width: 100%;
    height: 20%;
    text-align: center;

}


.main5-1-2{
    width: 20%;
    height: 100%;
    border:  1px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.wk-logo{
   
    width: 100%;
    height: 50%;
    padding-top: 27px;
}
.wk{
   
    width: 100%;
    height: 10%;
    text-align: center;
}
.wk-text{
    
    width: 100%;
    height: 20%;
    text-align: center;
    padding-top: 5px;
}
.wk-button{
  
    width: 100%;
    height: 20%;
    text-align: center;
}

.main5-1-3{
    width: 20%;
    height: 100%;
    border:  1px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.lw-logo{
   
    width: 100%;
    height: 50%;
    padding-top: 27px;
}
.lw{
   
    width: 100%;
    height: 10%;
    text-align: center;
}
.lw-text{
    
    width: 100%;
    height: 20%;
    text-align: center;
    padding-top: 5px;
}
.lw-button{
  
    width: 100%;
    height: 20%;
    text-align: center;
}

.main5-1-4{
    width: 21%;
    height: 100%;
    border:  1px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.mk-logo{
   
    width: 100%;
    height: 50%;
    padding-top: 27px;
}
.mk{
   
    width: 100%;
    height: 10%;
    text-align: center;
}
.mk-text{
    
    width: 100%;
    height: 20%;
    text-align: center;
    padding-top: 5px;
}
.mk-button{
  
    width: 100%;
    height: 20%;
    text-align: center;
}

.main5-button{
    border-radius: 5px;
    border: none;
    width: 70px;
    height: 30px;
    font-weight: bold;
}

.main5-button:hover{
    cursor: pointer;
    background-color: silver;
}

.footer{
    padding-left: 2100px;
    display: flex;
    padding: 20px;
    padding-left: 550px;
}
.footer button{
    background-color: white;
    border: none;
    padding-left: 15px;
    color: rgb(107, 107, 107);
}
.footer button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.meta-button{
    width: 1400px;
    display: flex;
    justify-content: center;
    padding-left: 650px;
}
.meta-button > button{
    border:none;
    background-color: white;
    color: rgb(107, 107, 107);
}

.meta-button > button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.korea-button{
    margin-top: 10px;
    margin-left: 880px;
    color: rgb(107, 107, 107);
}

#korea{
    border: rgb(107, 107, 107);
    color: rgb(107, 107, 107);
}

#korea:hover{
    cursor: pointer;
}

.main4-1-1:hover{
    transition : all 0.5s linear;
    transform: scale(1.2);
    background-color: rgba(58, 56, 56, 0.3);
}
.main4-1-2:hover{
    transition : all 0.5s linear;
    transform: scale(1.2);
    background-color: rgba(58, 56, 56, 0.3);
}
.main4-1-3:hover{
    transition : all 0.5s linear;
    transform: scale(1.2);
    background-color: rgba(58, 56, 56, 0.3);
}
.main4-2-1:hover{
    transition : all 0.5s linear;
    transform: scale(1.2);
    background-color: rgba(58, 56, 56, 0.3);
}
.main4-2-2:hover{
    transition : all 0.5s linear;
    transform: scale(1.2);
    background-color: rgba(58, 56, 56, 0.3);
}
.main4-2-3:hover{
    transition : all 0.5s linear;
    transform: scale(1.2);
    background-color: rgba(58, 56, 56, 0.3);
}
.main4-3-1:hover{
    transition : all 0.5s linear;
    transform: scale(1.2);
    background-color: rgba(58, 56, 56, 0.3);
}
.main4-3-2:hover{
    transition : all 0.5s linear;
    transform: scale(1.2);
    background-color: rgba(58, 56, 56, 0.3);
}
.main4-3-3:hover{
    transition : all 0.5s linear;
    transform: scale(1.2);
    background-color: rgba(58, 56, 56, 0.3);
}
.main4-4-1:hover{
    transition : all 0.5s linear;
    transform: scale(1.2);
    background-color: rgba(58, 56, 56, 0.3);
}
.main4-4-2:hover{
    transition : all 0.5s linear;
    transform: scale(1.2);
    background-color: rgba(58, 56, 56, 0.3);
}
.main4-4-3:hover{
    transition : all 0.5s linear;
    transform: scale(1.2);
    background-color: rgba(58, 56, 56, 0.3);
}




