.createMovieArea{
  display: flex;
}

div{
display: flex;
flex-direction: column;
width: 200px;
}

.addBtn{
  width: 100px;
}


.moviesTable{
  width: 600px;
  height: 100px;
  text-align: center;
}

table > tr{
  width: 150px;
}

table td {
  width: 150px;
}