div{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.starbucks{
    width: 1400px;
    margin: auto;
}

.header{
    height: 140px;
    display: flex;
    background-color:#f6f5ef;
    position: sticky;
    top: 0;
}

.header-logo > #header-logo{
    width: 150px;
    height: 100%;
    margin-left: 30px;
}

.starbucks-logo{
    flex-basis:20%
}

.starbucks-banner{
    display: flex;
    flex-direction: column;
}


.banner-top{
    display: flex;
    height: 40%;
}

.top1{
    display: flex;
    justify-content: center;
}
.top1:hover{
    text-decoration: underline;
}

.banner-top > div:nth-child(1){ /* 빈칸 */
    width: 380px;
}

.banner-top > div:nth-child(2){ /* sign up */
    width: 100px;
}

.banner-top > div:nth-child(3){ /* My starbucks */
    width: 120px;
}

.banner-top > div:nth-child(4){ /* Customer Sevice & ideas */
    width: 220px;
}

.banner-top > div:nth-child(5){ /* Find a Store */
    width: 120px;
}

.banner-top > div:nth-child(6){ /* 돋보기 */
    width: 80px;
}
#search-btn{
    width: 8%;
    cursor:pointer;
    font-size: 1.2em;
    color: black;
    background-color:#f6f5ef;
    border: 0; /* none도 가능 */
}

.banner-bottom{
    display: flex;

    height: 60%;
}

.bottom1{
   display: flex;
   justify-content: center;
}

.bottom1:hover{
    text-decoration: underline;
}

.banner-bottom > div:nth-child(1){ /* COFFEE */
    width: 80px;
 
}

.banner-bottom > div:nth-child(2){ /* MENU */
    width: 90px;
}

.banner-bottom > div:nth-child(3){ /* STORE */
    width: 100px;
}

.banner-bottom > div:nth-child(4){ /* RESPONSIBILITY */
    width: 140px;
}

.banner-bottom > div:nth-child(5){ /* STARBUCKS REWARD */
    width: 200px;
}

.banner-bottom > div:nth-child(6){ /* CORPORATE SALES */
    width: 250px;
}

.banner-bottom > div:nth-child(7){ /* WHAT'S NEW */
    width: 140px;
}



.content1{
    height: 700px;
    background-color: beige;
    position: relative;
}

#event{
    height: 100%;
    width: 100%;
}

#middle-button{ /* 자세히 보기 */
    width: 90px;
    height: 40px;
    position: absolute;
    top: 410px;
    left: 280px;
    background-color: pink;
    border: white;
    border-radius: 10px;
}

#middle-button:hover{
    cursor: pointer;
    background-color: white;
    transition-duration: 0.5s;
    text-decoration: underline;
}

#simple-button1{
    width: 120px;
    position: fixed;
    top: 260px;
    left: 80%;

}

#simple-button2{
    width: 120px;
    position: fixed;
    top: 350px;
    left: 80%;

}


.content2{
    height: 80px;
    display: flex;
}

.content2-1{
    width: 50%;
    background-color: black;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

#plus-button{
    margin-left: 150px;
    background-color: black;
    color: white;
}
#plus-button:hover{
    cursor: pointer;
}

#system{
    color: white;
}

.content2-2{
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#down-button{
    margin-left: 150px;
    background-color: white;
    color: black;
}
#down-button:hover{
    cursor: pointer;
}

#pro{
    color: black;
}

.footer{
    background-color:#1e3932 ;
    height: 300px;
    display: flex;
}
.footer1{
    width: 30%;
}
#footer-logo{
  padding: 13%;
  width: 250px;
 
}

.footer2{
    width: 70%;
}
.footer2-1{
    height: 65%;
    display: flex;
}
.footer2-2{
    height: 35%;
    display: flex;
}
.footer2-1 > pre{
    color: white;
    padding-top: 2px;
    font-size: x-large;
}
.footer2-2 > pre{
    color: white;
    padding-top: 20px;
    font-size: 14px;
}
.footer2-2 > button{
    border: 1px solid white;
    background-color: #1e3932;
    color: white;
    width: 200px;
    height: 30px;
    margin-top:40px;
    margin-left: 80px;
}

.footer2-2 > button:hover{
    cursor: pointer;
    background-color: #00704a;
    transition-duration: 0.5s;
    text-decoration: underline;
}

.footer2 .new{
    background-color:#00704a;
    color: white;
    width: 90px;
    height: 40px;
    margin-top:120px;
    margin-left: 100px;
    border-radius: 10px;
} 
.footer2 .new:hover{
    cursor: pointer;
    background-color:#00704a;
    transition-duration: 0.5s;
    text-decoration: underline;
}

.footer2 .log{
    border: 1px solid white;
    background-color: #1e3932;
    color: white;
    width: 100px;
    height: 40px;
    margin-top:120px;
    margin-left: 10px;
    border-radius: 10px;
    
}
.footer2 .log:hover{
    cursor: pointer;
    background-color: #00704a;
    transition-duration: 0.5s;
    text-decoration: underline;
} 



